/* GENERAL */

body{
margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:"Segoe UI",sans-serif;

background:linear-gradient(180deg,#8b0000,#ff2a2a);
}


/* INTRO SCREEN */

/* INTRO SCREEN */

#intro{

position:absolute;
top:0;
left:0;

width:100%;
height:100%;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(180deg,#8b0000,#ff2a2a);

z-index:1000;

transition:opacity .8s ease;

}

#intro.fade-out{
opacity:0;
pointer-events:none;
}

.intro-content{
text-align:center;
color:white;
}

.atm-logo{
font-size:80px;
margin-bottom:15px;
animation:pop 1s ease;
}

@keyframes pop{
0%{transform:scale(.5);opacity:0}
100%{transform:scale(1);opacity:1}
}


/* ATM FRAME */

.atm{

width:380px;
height:720px;

border-radius:45px;

background:linear-gradient(180deg,#9b1111,#e31b1b);

box-shadow:
0 20px 60px rgba(0,0,0,.5);

padding:30px;

position:relative;
overflow:hidden;

color:white;
}


/* SCREENS */

    .screen{

    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    gap:20px;

    opacity:0;
    transform:translateX(40px);
    pointer-events:none;

    transition:.5s;

    }

    .screen.active{
    opacity:1;
    transform:translateX(0);
    pointer-events:auto;
    }


/* TITLES */

h1{
font-size:28px;
letter-spacing:2px;
margin-bottom:20px;
}

.welcome{
    font-weight:bold;
    font-size: 30px;
    animation:pop 1s ease;
}

/* CARD SELECTION */

.card-title{
font-weight: bold;
font-family: Arial;
font-size: 30px;
}
.card-list{
display:flex;
flex-direction:column;
gap:30px;
}

.bank-card{

width:240px;
height:140px;

border-radius:16px;

background:linear-gradient(135deg,#4c5a7a,#323b5e);

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

box-shadow:0 12px 30px rgba(0,0,0,.4);

transition:.3s;
}

.bank-card:hover{
transform:translateY(-6px) scale(1.03);
}

.card-chip{
width:36px;
height:24px;
background:gold;
border-radius:4px;
margin-bottom:10px;
}


/* CARD INSERT */

.slot{

width:140px;
height:12px;

background:#111;

border-radius:6px;

box-shadow:
inset 0 3px 6px rgba(0,0,0,.8),
0 2px 4px rgba(0,0,0,.6);

position:relative;

}

.card{

width:90px;
height:56px;

border-radius:8px;

background:linear-gradient(135deg,#d4a24b,#a67c2f);

position:relative;

transform:translateY(-120px) scale(1);
transition:transform .8s cubic-bezier(.25,.8,.25,1);

box-shadow:0 10px 20px rgba(0,0,0,.4);

}

/* Card sliding in */
.card.insert{
transform:translateY(-10px) scale(.98);
}

/* Card eject animation */
.card.eject{
animation:ejectCard 1s forwards;
}

@keyframes ejectCard{
0%{
transform:translateY(-10px) scale(.98);
}
40%{
transform:translateY(-60px) scale(1);
}
100%{
transform:translateY(-140px) scale(1.05);
}
}

.card.insert{
transform:translateY(0);
}

.card.eject{
transform:translateY(-120px);
}

.insert-btn{

padding:10px 20px;

border:none;
border-radius:30px;

font-size:20px;
font-weight:700;

background:linear-gradient(135deg,#d4a24b,#b8893a);

color:white;

cursor:pointer;

box-shadow:0 6px 20px rgba(0,0,0,.35);

transition:all .25s ease;

}

.insert-btn:hover{
transform:scale(1.08);
}

.insert-btn:active{
transform:scale(.95);
}

.enterB{
    padding: 15px 20px;
    font-weight: bold;
    background-color: #d4a24b;
}
.atm .menu-btn,
.atm .insert-btn,
.atm .enterB,
.atm .keypad button,
.atm .action-buttons-row button,
.atm .amount-grid button{

padding:7px 15px;
margin-right:2px;

border:none;
outline:none;

border-radius:20px;
background:#e8b062;
color:white;

font-weight:600;
font-size:18px;

cursor:pointer;

box-shadow:0 6px 18px rgba(0,0,0,.35);
transition:.2s;

}

.atm button:hover{
transform:scale(1.05);
}.button{

padding:7px 15px;
margin-right: 2px;
border:none;
border-radius:20px;
background:#e8b062;
color:white;

font-weight:600;
font-size:18px;

cursor:pointer;

box-shadow:0 6px 18px rgba(0,0,0,.35);

transition:.2s;

}

button:hover{
transform:scale(1.05);
}


/* PIN DISPLAY */

.display{

width:220px;
height:60px;

background:white;

border-radius:18px;

display:flex;
align-items:center;
justify-content:center;

font-size:26px;
letter-spacing:12px;

color:black;

}


/* KEYPAD */

.keypad{

display:grid;
grid-template-columns:repeat(3,80px);
gap:18px;

justify-content:center;

}

.keypad button{

width:80px;
height:60px;

border-radius:14px;

background:white;

font-size:22px;
font-weight:bold;

color:black;

}

.keypad button:hover{
background:#eee;
}


/* ACTION BUTTONS */

.action-buttons{

display:flex;
flex-direction:column;
justify-content: space-between;
gap:12px;


margin-top:10px;

}
/* Make withdraw screen buttons in a row */
.action-buttons-row {
    display: flex;
    justify-content: space-between; /* distribute buttons evenly */
    gap: 10px; /* spacing between buttons */
    margin-top: 15px;
}

/* Optional: make all buttons same width */
.action-buttons-row button {
    flex: 1; /* all buttons take equal space */
}

.cancel{
background:#ef4444;
}

.clear{
background:#f59e0b;
}

.enter{
background:#22c55e;
}


/* MAIN MENU */
.greetingz{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

.welcoming{
    font-weight: bold;
    font-size: 20px;
    padding-top: -5px;
    color: #a4e9bd;
}


.menu-grid{

display:flex;
flex-direction:column;
gap:15px;

}

.menu-grid button{

width:220px;

background:white;
color:black;

border-radius:16px;

}


/* CASH DISPENSE */

.cash-slot{
width:150px;
height:10px;
background:black;
overflow:hidden;
}

.cash{

width:140px;
height:60px;

background:linear-gradient(#16a34a,#15803d);

transform:translateY(-80px);

}

.selector{
    font-weight: bold;
}

.cash.dispense{
animation:cash 1.6s forwards;
}

@keyframes cash{
to{transform:translateY(20px);}
}


/* RECEIPT */

.printer{
width:150px;
height:10px;
background:black;
overflow:hidden;
}

.paper{

width:120px;
height:200px;

background:white;
color:black;

font-size:12px;
padding:10px;

transform:translateY(-200px);

}

.paper.print{
animation:print 2s forwards;
}

@keyframes print{
to{transform:translateY(10px);}
}
/* PIN ERROR */

.display.error{
background:#ffdddd;
border:2px solid #ff3b3b;
animation:shake .4s;
}

@keyframes shake{
0%{transform:translateX(0)}
20%{transform:translateX(-6px)}
40%{transform:translateX(6px)}
60%{transform:translateX(-6px)}
80%{transform:translateX(6px)}
100%{transform:translateX(0)}
}

/* PIN SUCCESS */

.display.success{
background:#d4ffd9;
border:2px solid #22c55e;
}
.menu-title{
font-size:26px;
font-weight:700;
}

.account-panel{

background:#ffffff15;
padding:18px;
border-radius:16px;
width:240px;

text-align:center;

box-shadow:0 6px 18px rgba(0,0,0,.3);

}

.balance-display{
font-size:20px;
font-weight:bold;
}

.menu-grid{
display:flex;
flex-direction:column;
gap:16px;
margin-top:10px;
}

.menu-btn{
width:240px;
padding:16px;
font-size:18px;
border-radius:16px;
background:white;
color:black;
}

.menu-btn.withdraw{
background:#22c55e;
color:white;
}

.menu-btn.balance{
background:#3b82f6;
color:white;
}

.menu-btn.exit{
background:#ef4444;
color:white;
}
#pinError{

color:#ff6b6b;
font-weight:bold;
font-size:14px;

text-align:center;

min-height:20px;

}